
<div class="left-wrapper">
    <header class="header">
        <a href="/admin/goods" class="header-link"><h1 class="header-ti">天天淘cms</h1></a>
    </header>
    <aside class="aside">
        <ul class="aside-list">
            <li class="list-item"><a class="list-link" href="/admin/goods">商品管理</a></li>
            <li class="list-item"><a class="list-link" href="/admin/vip">会员管理</a></li>
            <li class="list-item"><a class="list-link" href="/admin/category">类别管理</a></li>
            <li class="list-item"><a class="list-link" href="/admin/orderForm">订单管理</a></li>
        </ul>
    </aside>
</div>

