<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link rel="stylesheet" href="/public/common/reset.css">
    <link rel="stylesheet" href="/public/admin/css/public.css">
</head>
<body>
<!-- 导航栏及标题 -->
<%- include sidebar %>

<!-- 主体内容 -->
<main class="main">
    <div class="content-header">
        <div class="search-area">
            <input type="text" placeholder="查找会员" class="input">
            <a href="javascript:;" class="search-btn">🔍</a>
        </div>
    </div>
    <div class="content">
        <!-- 会员管理 -->
        <div class="vip-wrapper table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th>会员账号</th>
                    <th>会员名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="javascript:;" class="operation">被解冻</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>
