.container {
    padding: 20px;
    text-align: center;
    border: 1px solid ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c0c0c0;
}
.container h1 {
    font: 30px/1.5 '';
    margin-bottom: 20px;
}
.form .form-control {
    margin-bottom: 20px;
    text-align: right;
}
.form-control label {
    width: 70px;
    text-align: right;
    margin-right: 10px;
    float: left;
}
.form-control input[type="text"],
.form-control input[type="password"] {
    width: 250px;
}
.form-control button {
    padding: 3px 10px;
    color: whitesmoke;
    background: #000000;
    border: 1px solid #c0c0c0;
}