<div class="content-header">
    <button type="button" class="btn" id="js-add-goods" data-target="#goodsModal">хвЮхКахХЖхУБ</button>
    <button type="button" class="btn" id="js-add-type" data-target="#typeModal">хвЮхКач▒╗хИл</button>
    <div class="search-area">
        <input type="text" placeholder="цЯецЙ╛хХЖхУБ" class="input">
        <a href="javascript:;" class="search-btn">ЁЯФН</a>
    </div>
</div>