<header class="header">
    <div class="header-top clearfix">
        <ul class="top-list clearfix">
            <li class="list-item" id="userInfo">
                <!--<span class="user"></span>-->
                <!--<a href="javascript:;" id="js-logout"></a>-->
            </li>
            <li class="list-item"><a href="javascript:;" id="js-user-center">[用户中心]</a></li>
            <li class="list-item"><a href="javascript:;" >[购物车]</a></li>
        </ul>
    </div>
    <div class="header-middle clearfix">
        <div class="header-hd">
            <a href="/" class="hd-a"><h1 class="hd-ti">天天淘</h1></a>
        </div>
        <form class="header-search-form clearfix">
            <input type="text" class="search-input" id="searchInput"><button type="button" class="search-btn" id="js-search">搜索</button>
        </form>
    </div>
</header>