<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天淘</title>
    <link rel="stylesheet" type="text/css" href="/public/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/user/css/style.css">
</head>
<body>
<!-- 头部 -->
<% include header %>

<div class="content">
    <main class="main">
        <!--价格筛选-->
        <% include priceSearch %>
        <section class="content-section section--discountGoods">
            <div class="section-header clearfix">
                <h2 class="header-ti">商品列表</h2>
            </div>
            <div class="section-wrapper clearfix">
                <div class="section-item">
                    <div class="item-img-wrapper">
                        <img class="item-img" src="./imgs/timg.gif">
                    </div>
                    <div class="item-detail-wrapper">
                        <a href="#" class="item-link"><h3 class="item-ti">小黄人</h3></a>
                        <p class="item-price"><span class="price-sign">￥</span><strong class="price">100</strong></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<script src="/public/user/js/public.js"></script>
<script src="/public/user/js/index.js"></script>
</body>
</html>