<section class="content-section">
    <form class="price-form clearfix">
        价格筛选：<input type="text" class="price-input" id="minPrice"> ---- <input type="text" class="price-input" id="maxPrice"> <button type="button" class="search-btn" id="js-money-search">搜索</button>
    </form>
</section>