<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天淘</title>
    <link rel="stylesheet" type="text/css" href="/public/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/user/css/cart.css">
</head>
<body>
<!-- 头部 -->
<% include header %>

<div class="content">
    <main class="main">
        <div class="main-hd">
            <h2 class="main-tt">天天淘 - 购物车</h2>
        </div>
        <div class="cart-main">
            <div class="cart-table-th">
                <div class="th th-chk">
                    <div class="cart-checkbox">
                        <input type="checkbox" class="js-select-all">全选
                    </div>
                </div>
                <div class="th th-info">
                    <div class="th-inner">商品信息</div>
                </div>
                <div class="th th-price">
                    <div class="th-inner">单价</div>
                </div>
                <div class="th th-amount">
                    <div class="th-inner">数量</div>
                </div>
                <div class="th th-sum">
                    <div class="th-inner">金额</div>
                </div>
                <div class="th th-op">
                    <div class="th-inner">操作</div>
                </div>
            </div>
            <div class="order-content">
                <div class="content-inner" id="order-area">
                    <div class="order-item">
                        <ul class="item-content clearfix">
                            <li class="td td-chk">
                                <div class="td-inner">
                                    <div class="cart-checkbox">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </li>
                            <li class="td td-info">
                                <div class="td-inner clearfix">
                                    <div class="item-pic">
                                        <a href="#">
                                            <img src="/src/imgs/timg.gif">
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a href="#">现摘百香果新鲜热带广西西番莲鸡蛋果5斤大红果 水果酸爽香甜</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-price">
                                <div class="td-inner">
                                    <div class="item-price">
                                        <em>￥100</em>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-amount">
                                <div class="td-inner">
                                    <div class="amount-wrapper">
                                        <a href="javascript:;" class="minus">-</a>
                                        <input type="text" class="text text-amount" value="1">
                                        <a href="javascript:;" class="plus">+</a>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-sum">
                                <div class="td-inner">
                                    <em class="price">￥100</em>
                                </div>
                            </li>
                            <li class="td td-op">
                                <div class="td-inner">
                                    <a href="#">删除</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="order-item">
                        <ul class="item-content clearfix">
                            <li class="td td-chk">
                                <div class="td-inner">
                                    <div class="cart-checkbox">
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </li>
                            <li class="td td-info">
                                <div class="td-inner clearfix">
                                    <div class="item-pic">
                                        <a href="#">
                                            <img src="/src/imgs/timg.gif">
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-basic-info">
                                            <a href="#">现摘百香果新鲜热带广西西番莲鸡蛋果5斤大红果 水果酸爽香甜</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-price">
                                <div class="td-inner">
                                    <div class="item-price">
                                        <em>￥100</em>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-amount">
                                <div class="td-inner">
                                    <div class="amount-wrapper">
                                        <a href="javascript:;" class="minus">-</a>
                                        <input type="text" class="text text-amount" value="1">
                                        <a href="javascript:;" class="plus">+</a>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-sum">
                                <div class="td-inner">
                                    <em class="price">￥100</em>
                                </div>
                            </li>
                            <li class="td td-op">
                                <div class="td-inner">
                                    <a href="#">删除</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>