<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天淘</title>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/categories.css">
    <link rel="stylesheet" type="text/css" href="./css/user.css">
</head>
<body>
<!-- 头部 -->
<% include header %>

<div class="content">
    <aside class="aside">
        <nav class="nav">
            <h2 class="nav-tt">用户中心</h2>
            <ul class="list" id="type-list">
                <li class="list-item"><a href="javascript:;" class="item-link" id="modifyPsw">修改密码</a></li>
                <li class="list-item"><a href="javascript:;" class="item-link" id="modifyMobile">修改信息</a></li>
                <li class="list-item"><a href="javascript:;" class="item-link" id="modifyAddress">订单查询</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main">
        <!-- 订单查询 -->
        <section class="content-section">
            <div class="section-header clearfix">
                <h2 class="header-ti">订单查询</h2>
            </div>
            <div class="section-wrapper clearfix">
                <div class="order-list">
                    <div class="list-item">
                        <div class="order-info">
                            <div class="order-ti">订单号：</div>
                            <div class="order-val">1000000000</div>
                            <button type="button" class="undo-order"> 撤销订单</button>
                        </div>
                        <div class="order-info">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>数量</th>
                                    <th>单价/RMB</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="order-info">
                            <div class="order-ti">订单号：</div>
                            <div class="order-val">1000000000</div>
                            <button type="button" class="undo-order"> 撤销订单</button>
                        </div>
                        <div class="order-info">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>数量</th>
                                    <th>单价/RMB</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>